**/.idea/**/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/misc.xml
**/.idea/libraries/
**/.idea/gradle.xml
**/.idea/compiler.xml
**/.idea/modules.xml
**/.idea/.name
**/.idea/uiDesigner.xml
**/*.iml
**/*.ipr
**/target
**/.settings
**/.classpath
**/.project
build/
.gradle/
**/.DS_Store
private.txt
